.input-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.87);
  min-width: 450px;
  input {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    background-color: rgb(28, 28, 30);
    box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    transition: 0.4s;
    &:hover {
      box-shadow: 0 0 0 0.15vw rgba(135, 207, 235, 0.186);
    }
    &:focus {
      box-shadow: 0 0 0 0.15vw skyblue;
    }
  }
  button {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    background-color: rgb(28, 28, 30);
    box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    margin-left: 20px;
    width: 18%;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 0 0.15vw rgba(135, 207, 235, 0.186);
    }
    &:focus {
      box-shadow: 0 0 0 0.15vw skyblue;
    }
  }
}
