.weather-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.87);
  min-width: 50%;
  padding: 2.5rem 0rem;
  border-radius: 30px;
  margin-top: 40px;
  box-shadow: rgb(38, 57, 77) 0px 5px 90px 1px;
  .today {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    .temp-today {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      h2 {
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 2px;
      }
      h1 {
        font-size: 2.5rem;
        font-weight: 600;
      }
      p {
        font-size: 1.2rem;
        font-weight: 200;
        margin-top: 10px;
        letter-spacing: 2px;
      }
    }
    .img-div {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(242, 242, 242);
      padding: 30px;
      border-radius: 30%;
      box-shadow: rgb(130, 167, 201) 0px 0px 70px -18px;
      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
      }
    }
  }
  .next-days {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    min-height: 220px;
    margin-top: 50px;
    .next-day-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 150px;
      padding: 10px 15px;
      .next-day-item-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f2f2f2;
        color: #333;
        max-width: 100%;
        margin-top: 10px;
        border-radius: 30px;
        padding: 10px;
        box-shadow: rgb(130, 167, 201) 0px 0px 70px -18px;
        &:hover {
          border: 1px solid rgb(38, 57, 77);
          transform: scale(1.05);
          transition: all 0.5s;
          cursor: pointer;
        }

        h3 {
          font-size: 1.2rem;
          font-weight: 600;
          text-align: center;
        }
        h2 {
          font-size: 0.9rem;
          font-weight: 600;
          padding: 20px;
          max-height: 50px;
          letter-spacing: 2px;
          text-align: center;
          margin: 20px;
        }
      }
    }
    p {
      font-size: 1.2rem;
      text-align: center;
      margin-top: 1rem;
    }
    img {
      margin-top: 0.5rem;
      width: 70px;
      height: 70px;
    }
  }
}
