$fade-in-up-animation: fade-in-up 0.8s 0.001s forwards ease-in-out;
$fade-in-animation: fade-in 0.8s 0.18s forwards;

.weather-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.87);
  min-width: 50%;
  padding: 2.5rem 0rem;
  border-radius: 30px;
  margin-top: 40px;
  box-shadow: rgb(38, 57, 77) 0px 5px 90px 1px;

  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.8s ease;

  animation: $fade-in-up-animation;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    40% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .today {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    opacity: 0;
    transition: opacity 0.5s ease;
    animation: $fade-in-animation;

    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .temp-today {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      h2 {
        font-size: 1.5rem;
        letter-spacing: 2px;
      }
      h1 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.2rem;
        font-weight: 200;
        margin-top: 10px;
        letter-spacing: 2px;
      }
    }
    .img-div {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(242, 242, 242);
      padding: 30px;
      border-radius: 30%;
      box-shadow: rgb(130, 167, 201) 0px 0px 60px -18px;
      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
      }
    }
  }
  .next-days {
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 200px;
    margin-top: 50px;

    opacity: 0;
    transition: opacity 0.5s ease;
    animation: $fade-in-animation;

    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .next-day-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 150px;
      padding: 10px 15px;
      .next-day-item-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f2f2f2;
        color: #333;
        max-width: 100%;
        margin-top: 10px;
        border-radius: 30px;
        padding: 10px;
        box-shadow: rgb(130, 167, 201) 0px 0px 60px -18px;
        &:hover {
          border: 1px solid rgb(38, 57, 77);
          transform: scale(1.05);
          transition: all 0.5s;
          cursor: pointer;
        }

        h3 {
          font-size: 1.2rem;
          text-align: center;
        }
        h2 {
          font-size: 0.9rem;
          max-height: 50px;
          letter-spacing: 2px;
          text-align: center;
          margin: 20px;
        }
      }
    }
    p {
      font-size: 1.2rem;
      text-align: center;
    }
    img {
      margin-top: 0.5rem;
      width: 70px;
      height: 70px;
    }
  }
  @media (max-width: 768px) {
    .today {
      flex-direction: column;

      .temp-today {
        align-items: center;

        h2 {
          margin-top: 10px;
          font-size: 1rem;
        }
      }
      .img-div {
        img {
          width: 80px;
          height: 80px;
        }
      }
    }

    .next-days {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
}
