.weather-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 183, 255, 0.315);
  color: rgba(255, 255, 255, 0.87);
  min-width: 50%;
  padding: 2.5rem;
  border-radius: 20px;
  margin-top: 40px;
  .today {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    img {
      width: 170px;
      height: 170px;
    }
  }
  .next-days {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 50px;

    .next-day-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 150px;
      img {
        width: 70px;
        height: 70px;
      }
    }
    p {
      font-size: 1.2rem;
      text-align: center;
      margin-top: 1rem;
    }
    img {
      margin-top: 0.5rem;
      width: 70px;
      height: 70px;
    }
  }
}
